.mb-0 a {
    color: #F58634;
}
.mb-0 {
    font-size: 20px;
}
.revista img {
    margin: 15px;
    width: 25%;
}
@media screen and
(min-width: 200px) and
(max-width: 640px){
    #site{
        height: 144vw!important;
        width: 96vw!important;
    }
    .revista{
        display: column;
    }

}